/* src/index.css or src/App.css */
@import '@fortawesome/fontawesome-svg-core/styles.css';

.App {
  text-align: center;
}

.ellips{
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
