.pages-div {
    /* border: 1px solid red; */
    width: 800px;
  
}
/* .pages-div{
 display: flex; 
    flex-direction: column; 
    align-items: center;
    /* justify-content: space-evenly; */

.Navbar-div{
    /* background-color: rgb(106, 93, 93); */
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.Navbar-div{
    display: flex;
    justify-content: space-around;
}

 .pages-2-div > button{
    font-weight: bold;
    color: rgb(0,136,204);
    cursor: pointer;
    padding:5px 10px;
    justify-content: space-around;
}

.pages-2-div > button:hover{
background-color: rgb(0,136,204);
color: white;
}






/* .pages-div { */
    /* border: 1px solid red; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-around; */
/* } */
.pages-1-div{
    width: 500px;
    margin-top: 70px;
    margin-left: 200px;
    display: flex;
    justify-content: space-evenly;
   
    /* border: 1px solid green; */
}

.pages-2-div{ 
    margin-top: 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
 }

 .pages-1-div > button{
    color: grey;
    font-size: small;
    
 }
 input{
    border: 1px solid grey;
    color: grey;
    padding:5px  10px;
 }
 input:hover{
    border: grey;
 }

 .input-container{
    position: relative;
 }
 .search-icon{
    position: absolute;
    top: 10px;
    right: 10px;
 }
 
 .social-div{
    /* border: 1px solid red; */
    width: 250px;
    margin-left: 65%;
   margin-top: 10px;

 }

.social-div{
   display: flex;
    justify-content: space-evenly;
}
.social-icon :hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}







